html{
    background-image: url("../imagenes/fondocomida2.jpg");
}



h2{
    color: rgb(24, 17, 17);
    text-align:left;
}



.volver{
    display: inline-block;
    margin-top: 10px;
    background-color: brown;
    padding: 20px;
    color: black;
    cursor: pointer;
}
.volver:hover{
    background-color: antiquewhite;
    color: black;
}
.volver:active{
    background-color: rgb(141, 235, 18);
    color: rgb(208, 32, 82);
}