body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0;
}

h1 {
    line-height: 1.3em;
    font-size: 2rem;
}

p {
    margin-bottom: 1.6em;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header {
    background: #333;
    color: white;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header a {
    color: white;
    text-decoration: none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    letter-spacing: 5px;
    font-size: 1.2em;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navbar ul li a:hover {
    background-color: #4a4a4a;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn-3 {
    display: inline-block;
    padding: 5px 25px;
    background-color: #ff9000;
    color: #FFFFFF;
    border-radius: 10px;
}

.btn-3 :hover {
    background-color: #ef8700;
}


.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #77777797;
    padding: 20px;
    min-width: 400px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
}

table {
    width: 100%;
}

th,
td {
    color: #FFFFFF;
}

.borrar {
    background-color: #ff9000;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
}

.box-container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box {
    border-top: 2px solid #ff9000;
    padding: 20px;
    border-radius: 15px;
    z-index: 1000;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    display: none;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6) {
    display: inline-block;
}

.box img {
    width: 120px;
}

.produc-txt h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

.produc-txt p {
    margin-bottom: 25px;
}

.precio {
    font-size: 15px;
    color: black;
}

.main {
    padding-top: 10rem;
}

.footer {
    background: #333;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
}

@media (max-widt:991px) {
    .submenu:hover #carrito {
        width: 100%;
    }
}